.header {
  background: rgb(114, 6, 177);
  width: 100%;
  position: fixed;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 24px;
}

.main {
  height: 100vh;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  width: 350px;
  background: rgb(13, 136, 236);
  padding: 24px;
}

.feed {
  background: rgb(82, 5, 69);
  width: 100%;
  padding: 20px;
}
